.chat
{
    flex:0.75;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border:1px solid gray;
}

.chat__header
{
    padding:10px;
    border-bottom:2px solid gray;
}

.chat__header > h3
{
    color:white;
    font-weight: 900;
}


.chat__messages
{
    flex:1;
    overflow: auto;
}

.chat__messages::-webkit-scrollbar{
    display:none;
}

.chat__messageInput
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border:1px solid white;
    border-radius:12px;
}

.chat__messageInput > form
{
    
    width:80%;
}



.chat__messageInput > form > input
{
    padding:10px;
    background-color: transparent;
    outline:none;
    color:white;
    width:100%;
    font-size:18px;
    border:none;
}


.chat__messageInput > form > button
{
    display: none;
}

.MuiSelect-select > input{
    color:white;
}