

.sidebar
{
    flex:0.25;
    display: flex;
    flex-direction: column;
    height: 75vh;
    border:1px solid gray;
}

.sidebar__header
{
    padding:10px;
}
.sidebar__header > h3
{
    color:lightgrey;
    font-weight: 900;
}



.sidebar__form
{
    margin-top:3px;
}

.sidebar__form > form
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:10px;
}
.sidebar__form > form > input
{
    padding:5px;
    border:1px solid gray;
    border-radius:12px;
    background-color:transparent;
    font-size:0.99rem;
    color:white;
    outline:none;
}
.sidebar__form > form > input:focus
{
    box-shadow:0 0 5px lightgrey,
    0 0 8px lightgrey;
    
}


.sidebar__form > form > button
{
    display:none;
}


.sidebar__channels
{
    padding:10px;
    flex:1;
    border:1px solid white;
    border-radius:10px;
    overflow: auto;
}

.sidebar__channels::-webkit-scrollbar
{
    display:none;
}

.gif_image 
{
    position:relative;
    margin:10px;
    left:25%;
    
}

.gif_image > img{
    width:120px;
    object-fit: contain;
}